 #gameBoard {
    border: 1px solid black;
    background-color: rgba(22, 222, 22, 0.3);
}

.activeCharacter {
    background-color: rgba(22, 22, 222, 0.3);
}

.dead {
    background-color: rgba(222, 22, 22, 0.3);
}